.screen03 {
    width: 100%;
    margin: 7rem auto;
    padding-top: 3rem;
    background: #fafafa;
}

.screen03-2, .screen03-3 {
    gap: 2.4rem;
}

.header-title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.screen03-1,
.screen03-2,
.screen03-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen03-1 .quest {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.6rem;
    gap: 0.9rem;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.screen03 input {
    width: 100%;
    height: 4.6rem;
    padding-inline: 1.4rem;
    font-size: 1.9rem;
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
}

.screen03 input::placeholder {
    font-style: italic;
    font-size: 1.9rem;
    color: #bababa;
    margin-left: 1.4rem;
}

.screen03 button {
    font-size: 1.8rem;
    text-align: center;
    color: #fff5f4;

    background: #ec362d;
    border-radius: 1.5rem;
    border: none;

    height: 5.4rem;
    width: 32.4rem;
    margin-top: 3rem;

    cursor: pointer;
    transition: all 0.3s;
}
.screen03 button:hover {
    
    background: #b81a12;
   transition: all 0.3s;
}

.screen03 button:disabled,
.screen03-2 button:disabled {
    background: #cacaca;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper input,
.wrapper span:not(.question-head span, .level-head span) {
    margin-bottom: 1.4rem;
}

.question-head, .level-head {
    height: 7.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-head ion-icon, .level-head ion-icon {
    width: 2.6rem;
    height: 2.3rem;
}

.wrapper span {
    font-weight: 700;
    font-size: 2rem;
}

.question-create-card {
    width: 100%;
    height: 7.4rem;
    overflow: hidden;
    padding-inline: 1.7rem;

    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    transition: all 0.5s;
}

.question-create-card.selected {
    height: 87rem;
    transition: all 0.5s;
}


.incorrect-answers > div {
    margin-bottom: 3.2rem;
}

.levels-create-card {
    width: 100%;
    height: 7.4rem;
    overflow: hidden;
    padding-inline: 1.7rem;

    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    transition: all 0.5s;
}

.levels-create-card.selected {
    height: 48rem;
    transition: all 0.5s;
}

.levels-create-card.selected .level-head ion-icon {
    display: none;
    transition: all 0.5s;
}

textarea {
    resize: none;
    height: 17.7rem;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 1.4rem;
    font-family: 'Roboto';
    font-size: 1.9rem;
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
}

textarea::placeholder {
    font-style: italic;
    font-size: 1.9rem;
    color: #bababa;
    margin-left: 1.4rem;
}

.screen03-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen03-4 button {
    width: 22.1rem;
}

.screen03-4 a {
    font-size: 1.8rem;
    text-align: center;
    color: #818181;
    margin-block: 2rem;
    cursor: pointer;
    transition: all 0.2s;
}
.screen03-4 a:hover {
    color: #b6b1b1;
    transition: all 0.2s;
}


.screen03 .card-quizz {
    width: 34rem;
    height: 18rem;
    position: relative;
    color: #ffffff;
}

.screen03 img {
    width: 100%;
    height: 100%;
}

#shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 65.62%,
        rgba(0, 0, 0, 0.8) 100%
    );
    border-radius: 0.5rem;
}

.screen03 .card-quizz span {
    position: absolute;
    left: 1.8rem;
    bottom: 1.8rem;

    font-size: 1.9rem;
    line-height: 2.2rem;
}

.dp-none {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1100px) {
    .screen03 .screen03-1 .quest {
        width: 60rem;
        height: 100%;
    }

    .question-create-card,
    .levels-create-card {
        width: 60rem;
    }
    .screen03 .card-quizz {
        width: 50rem;
        height: 26.6rem;
    }

    .screen03 button {
        width: 37rem;
        height: 5.4rem;
    }
}
